<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app_quickquiz">

    <application
        android:allowBackup="true"
        android:label="Quick Quiz"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.QuickQuizApp">

        <activity
            android:name="com.example.app_quickquiz.activity.NavigationMenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.app_quickquiz.activity.ChangePasswordActivity"
            android:exported="false" />
<!--        <activity android:name="" />-->
        <activity android:name="com.example.app_quickquiz.activity.ChiTietBaiKiemTraActivity" />
        <activity android:name="com.example.app_quickquiz.activity.ClassListActivity" />
        <activity android:name="com.example.app_quickquiz.activity.EditProfileActivity" />
        <activity android:name="com.example.app_quickquiz.activity.HoatDongActivity" />
        <activity android:name="com.example.app_quickquiz.activity.NotificationActivity" />
        <activity android:name="com.example.app_quickquiz.activity.QuizActivity" />
        <activity android:name="com.example.app_quickquiz.activity.SearchActivity" />

    </application>
</manifest>
