<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app_quickquiz">

    <application
        android:allowBackup="true"
        android:label="Quick Quiz"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.QuickQuizApp">

        <activity
            android:name="com.example.app_quickquiz.activity.HistoryActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.app_quickquiz.activity.QuizActivity"
            android:exported="false" />
        <activity
            android:name="com.example.app_quickquiz.activity.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name="com.example.app_quickquiz.activity.ClassListActivity"
            android:exported="false" />
        <activity
            android:name="com.example.app_quickquiz.activity.DialogRateActivity"
            android:exported="false" />
        <activity
            android:name="com.example.app_quickquiz.activity.DialogShareActivity"
            android:exported="false" />
        <activity
            android:name="com.example.app_quickquiz.activity.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.example.app_quickquiz.activity.NotificationActivity"
            android:exported="false" />
        <activity
            android:name="com.example.app_quickquiz.activity.SearchQuizActivity"
            android:exported="false" />
    </application>
</manifest>
